.desenvolvimento__web{
    padding: 1rem 1rem;
    background-color: #F5F6FC;    
}

.texto__desenvolvimento__web{
    text-align: center;
    margin: 0 auto;
}

.titulo__desenvolvimento__web{
    text-transform: uppercase;
    color: var(--cor--h2--pagina);
    font-size: 0.8rem;
    margin-top: 2rem;
}

.subtitulo__desenvolvimento__web{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem auto;
}

.paragrafo__desenvolvimento__web{
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    font-weight: 400;
    margin-top: 1rem;
    line-height: 30px;
}

.span__desenv_web{
    color: var(--span);
}


.container__cards__desenvolvimento__web{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 2rem;
    
    
    
}

.card__desenvolvimento__web{
    background-color: white;
    display: flex;
    box-shadow: 0 4px 8px rgba(241, 241, 241, 0.2);
    flex-direction: column;
    gap: 20px;
    padding-top: 2rem;
    border-radius: 25px;
    justify-content: center;
}

.card__desenvolvimento__web h2{
    text-align: center;
    font-weight: 500;
}

.subcontainer__card__desenvolvimento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    width: 100%;
    padding: 0 1rem;
    
    
}

.subcontainer__card__desenvolvimento p{
    width: 100%;
    font-size: 1.1rem;
    
}



.subcontainer__card__desenvolvimento svg{
    width: 40px;
}

.container__img__desenvolvimento__web{
    background: linear-gradient(to left, blue, rgb(28, 28, 145));
    border-radius: 0 0 25px 25px;
    height: 100%;
    
}
