.desenvolvimento__web{
    padding: 1rem 1rem;
    background-color: #F5F6FC;    
}

.texto__desenvolvimento__web{
    text-align: center;
    margin: 0 auto;
}

.titulo__desenvolvimento__web{
    text-transform: uppercase;
    color: var(--cor--h2--pagina);
    font-size: 0.8rem;
    margin-top: 2rem;
}

.subtitulo__desenvolvimento__web{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem auto;
}

.paragrafo__desenvolvimento__web{
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    font-weight: 400;
    margin-top: 1rem;
    line-height: 30px;
}

.span__desenv_web{
    color: var(--span);
}


.container__cards__desenvolvimento__web{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    
    
}

.texto__card__desenvolvimento__web{
    padding-bottom: 2rem;
    width: 100%;
}

.texto__card__desenvolvimento__web p{
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    font-weight: 400;
    margin-top: 1rem;
    line-height: 30px;
    
}

.card__desenvolvimento__web{
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);margin: 2rem 0;
    width: 100%;
}

.subcontainer__card__desenvolvimento{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    height: fit-content;   
}

.subcontainer__card__desenvolvimento p{
    width: 80%;
}
.card__desenvolvimento__web h2{
    text-align: center;
    padding: 2rem 1.5rem 0 1.5rem;
    width: 100%;
}

.subcontainer__card__desenvolvimento svg{
    width: 40px;
}

.container__img__desenvolvimento__web{
    background: linear-gradient(to left, blue, rgb(28, 28, 145));
    border-radius: 0 0 25px 25px;
    height: 100%;
    
}

.container__img__desenvolvimento__web svg{

}
