.projeto__entre__em__contato{
    padding: 0 1rem ;
    margin: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.texto__entre__em__contato{
    text-align: center;
    margin: 0 auto;
}

.titulo__entre__em__contato{

    color: var(--cor--h2--pagina);
    text-transform: uppercase;
    font-size: 0.8rem;
    
}

.subtitulo__entre__em__contato{
    font-size: 1.7rem;
    
    font-weight: 600;
    line-height: 35px;
    
}

.span__entre__em__contato{
    color: var(--span);
}

.texto__entre__em__contato{
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 30px;
}

.button__projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid blue;
    width: fit-content;
    margin: 1rem auto;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.link__meu__projeto{
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.img1__contato{
    width: 350px;
    margin: 0 auto;
    

    
}
.img2__contato{
    width: 350px;
}