footer {
    background-color: #15161C;
    width: 100%;
    padding-top: 4rem;
    position: relative;
    margin-top: 2rem;

}

.main__footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1.3rem;
    text-align: center;
    width: 100%;

}


.button_top {
    position: absolute;
    top: -1.5rem;
    right: 5rem;
    background-color: white;
    padding: .5rem .5rem;
    cursor: pointer;
    border-radius: 25px;
}

.button_top svg {
    color: blue;


}

.atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.container__atendimento {
    margin-top: 2rem;
    width: 100%;
}

.titulo__atendimento {
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}

.atendimento svg {
    width: 30px;

}


.email__atendimento {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.link__email {
    text-decoration: none;
    color: rgb(201, 201, 201);
}

.link__email:hover {
    color: rgb(0, 140, 255);
    transition: all .5s;
}

.endereco__atendimento {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;

}

.link__endereco {
    text-decoration: none;
    color: rgb(201, 201, 201);

}


.link__endereco:hover {
    color: rgb(0, 140, 255);
    transition: all .5s;
}

.fale__conosco {
    margin-top: 3rem;
}

.titulo__fale__conosco {
    color: white;
}

.texto__fale__conosco {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
}

.texto__fale__conosco a {
    text-decoration: none;
    color: rgb(201, 201, 201);
}

.texto__fale__conosco a:hover {
    color: rgb(0, 140, 255);
    transition: all .5s;
}

.explore {
    margin-top: 3rem;
}

.titulo__explore {
    color: white;
    font-size: 1.3rem;
}

.container__explore {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
}

.container__explore a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-weight: 400;
}

.container__explore a:hover {
    color: rgb(0, 140, 255);
    transition: all .5s;
}

.nos__acompanhe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.titulo_nosacompanhe {
    color: white;
    font-size: 1.3rem;
}

.icons__social {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
}

.icons__social svg {
    width: 30px;

}

.copyright {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
}


.linha__footer {
    height: 1px;
    color: white;
    background: linear-gradient(to right, transparent, #4e5269, transparent);
    margin: 10px 0;

}


.savant_logo_footer {
    width: 50px;
}

.texto__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.span__savant__footer {
    font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main__footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .atendimento {
        width: fit-content;
        margin: 0;
        padding: 0;
    }

    .atendimento h2 {
        font-weight: 600;
    }

    .fale__conosco {
        margin: 0;

    }



    .explore {
        margin: 0;
        padding: 0;
    }

    .nos__acompanhe {
        margin: 0;
        padding: 0;
    }
}