header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 100%;
    
    
}

.logo_savant{
    display: flex;
    align-items: center;
    width: 200px;
    
}

.nome_savant{
    font-size: 1.5rem;
}

.img_logosavant{
    width: 30px;
}

.span_savantLogo{
    color: blue;
}

.menu{
    
}

.menu_button{
   
}

.container_menu{
    display: flex;
    flex-direction: column;
    width: 100px;
    display: none;
    
}

.button_contato_header svg{
    color: black;
    font-size: 40px;
    
}
.button_contato_header a{
    width: 200px;
    
}

.button_contato_header{
    display: flex;
    align-items: center;
    
    flex-direction: row-reverse;
}