.parte1{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo__parte1{
    line-height: 35px;
    font-size: 1.7rem;
    font-weight: 600;
}

.span__titulo__parte1{
    color: blue;
}

.texto__parte1{
    margin-top: 1rem;
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    line-height: 30px;
}