.projetos__home{
    margin-top: 2rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }

 .container__img__ecommerce{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
 }


.img__ecommerce{
    width: 320px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(241, 241, 241, 0.2);
    border-radius: 50px;
    padding: 1rem 1rem;
}

.text__projeto__home{
    margin-top: 1rem;
}

.titulo__ecommerce{
    text-transform: uppercase;
    color: var(--cor--h2--pagina);
    font-size: 0.8rem;
    margin-top: 1rem;
}

.subtitulo_ecommerce{
    font-weight: 600;
    margin-top: 1rem;
    line-height: 35px;
    font-size: var(--tamanha--h2--padrao);
}

.texto1__ecommerce{
    margin-top: 1rem;
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    line-height: 30px;
}

.texto2__ecommerce{
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    font-weight: 300;
    margin-top: 1rem;
    line-height: 30px;
}

 /* ------- Projeto Clínica ----------- */

 .projeto__clinica{
    margin-top: 5rem;
 }

 .texto__projeto__clinica{
    margin-top: 1rem;
 }

 .titulo__clinica{
    text-transform: uppercase;
    color: var(--cor--h2--pagina);
    font-size: 0.8rem;
    margin-top: 1rem;
 }

 .subtitulo__clinica{
    line-height: 35px;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 1rem;
 }

 .texto1__clinica{
    margin-top: 1rem;
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    line-height: 30px;
 }

 .texto2__clinica{
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    font-weight: 300;
    margin-top: 1rem;
    line-height: 30px;
}

.img__clinica{
    width: 320px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 1rem 1rem;
    
}

 .container__img__clinica{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: aliceblue;
    border-radius: 50px;
 }
