
.projetos__home{
   margin: 8rem 8rem 0 8rem;
   
}

.projeto__ecommerce{
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    gap: 30px;
    
    
}


.img__ecommerce{
    width: 550px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    
    
}

.text__projeto__home{
    
}


.titulo__ecommerce{
    font-size: 1rem;
    color: var(--cor--h2--pagina);
    margin-top: 1rem;

}

.subtitulo_ecommerce{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.texto1__ecommerce{
    width: 600px;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(80, 80, 80);
    margin-top: 1rem;
    line-height: 30px;
}

.texto2__ecommerce{
    width: 600px;
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    font-weight: 300;
    margin-top: 1rem;
    line-height: 30px;
}

/*---------- Card Clínica ------*/

.projeto__clinica{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 5rem;
    flex-direction: row-reverse;
    text-align: left;
    gap: 30px;
}


.container__img__clinica{

}

.img__clinica{
    width: 550px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.titulo__clinica{
    text-transform: uppercase;
    color: var(--cor--h2--pagina);
    font-size: 1rem;
    margin-top: 1rem;
}

.subtitulo__clinica{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}

.texto1__clinica{
    width: 600px;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(80, 80, 80);
    margin-top: 1rem;
    line-height: 30px;
    
}
.texto2__clinica{
    width: 600px;
    font-size: 1.1rem;
    color: rgb(80, 80, 80);
    font-weight: 300;
    margin-top: 1rem;
    line-height: 30px;
}

