.propostas{
    padding: 1rem 1.3rem;
    text-align: center;
}


.titulo__propostas{
    text-transform: uppercase;
    color: var(--cor--h2--pagina);
    font-size: 0.8rem;
}

.subtitulo__propostas{
    font-weight: 600;
    margin-top: 1rem;
    line-height: 40px;
    font-size: 2rem;
    
}
.span__subtitulo__propostas{
    color: var(--span);
    
}

.texto__propostas{
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(80, 80, 80);
    line-height: 25px;
    font-weight: 500;
}