.quem__somos{
    display: flex;
    align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 1rem 1rem;
   margin-top: 2rem;
}

.container__quemsomos{
    text-align: center;
}

.texto__quemsomos{
    font-size: var(--tamanha--h2--padrao);
    font-weight: 600;
    margin-top: 1rem;
    line-height: 35px;
    padding: 0 1rem;
}


.quem__somos__titulo{
    text-transform: uppercase;
    color: var(--cor--h2--pagina);
    font-size: 0.8rem;
}

.span__texto__quemsomos{
    color: var(--cor--h2--pagina);
}
