@import url(./header.css);
@import url(./parte1.css);
@import url(./quemsomos.css);
@import url(./propostas.css);
@import url(./produtos-homes.css);
@import url(./comofazemos.css);
@import url(./desenvweb.css);
@import url(./entre-em-contato.css);
@import url(./footer.css);
@import url(./form-contato.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte--principal);
}

:root {
  --fonte--principal: "Inter", sans-serif;
  --cor--h2--pagina: #017bf3;
  --span: #017bf3;
  --tamanha--h2--padrao: 1.7rem;
}
