.subtopics{
    display: flex;
    align-items: center;
    margin-top: 8rem;
    
}

.img__subtopics{
    width: 50%;
}

.container__subtopics{
   margin-left: 2rem;
   
}

.titulo__subtopics{
    font-size: 2.5rem;
}

.container__texto__subtopics{
    list-style: none;
    margin-top: 3rem;
}

.container__texto__subtopics li{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
}